<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1076166009996-33lolga2o68jj7vtrag9d3mldo3lmrol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076166009996-33lolga2o68jj7vtrag9d3mldo3lmrol</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0egSSRmKdQWFetIR4w_iTpv2ptqiQjA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076166009996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ONG.Insta</string>
	<key>PROJECT_ID</key>
	<string>kistagram-e91ec</string>
	<key>STORAGE_BUCKET</key>
	<string>kistagram-e91ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076166009996:ios:68c7a80fd83c2307</string>
	<key>DATABASE_URL</key>
	<string>https://kistagram-e91ec.firebaseio.com</string>
</dict>
</plist>